<h1>Seja bem bindo, <%= mostrar_meu_nome %></h1>


<ul>
    <li><%= link_to "Tipos", kinds_path %></li>
    <li><%= link_to "Telefones", phones_path%></li>
    <li><%= link_to "Endereços", addresses_path%></li>
    <li><%= link_to "Contatos", contacts_path%></li>
</ul>
